@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll-animation {
    /* animation: scrollAnimation 2s ease-in-out forwards; */
}